<%layout("/layouts/boilerplate.ejs")%>

<h1>What is Disaster-Management?</h1>
<div class="d-flex align-items-center justify-content-center p-4" style="gap:40px">
    <div style="flex:1">
    
    
        <p class="text-light">
            Disaster management refers to the organization, planning, and application of measures to prepare for, respond to, and recover from disasters. It encompasses a range of activities aimed at minimizing the impact of disasters on people, property, and the environment. These activities include risk assessment, emergency response coordination, resource allocation, and planning for recovery. Disaster management is a continuous and integrated process that involves governments, businesses, and civil society. 

        </p>
    </div>
    <div style="flex:1">
<img src= "/assets/phases.jpg"
class="img-fluid rounded shadow"
style="width:60%; height: auto;"

>

    </div>
</div>

<h1 class="text-light">Types of Disater</h1>
<ol class="text-light">
    <li>Man made</li>
    <li>Natural</li>
</ol>
<hr>
<h2 class="text-light"> 1. Man made Disasters </h2> <br>
<h3 class="text-light">> chemical spills</h3> 
<ul class="text-light">
    <li>Learn the proper storage and handling of chemicals.</li>
    <li>
Ventilate areas where chemicals are used.
    </li>
    <li> Wear protective gear and follow safety protocols in industrial settings.
</li>

</ul>
<h3 class="text-light">> Nuclear Disater</h3>
<ul class="text-light">
    <li>Know your local emergency plan and shelter locations.</li>
    <li>Keep potassium iodide tablets if you live near a nuclear plant.</li>
    <li>Stay indoors, seal windows and doors during a radiation emergency.</li>
</ul>

 <h3 class="text-light">> Industrial Accidents</h3>
<ul class="text-light">
    <li> Follow safety drills and wear appropriate protective equipment.</li>
<li>Report unsafe conditions immediately.</li>
<li>Train workers in emergency first aid and evacuation techniques.</li>
</ul>
<h3 class="text-light">> Health Emergencies</h3>
<ul class="text-light">
<li> Practice good hygiene: handwashing, sanitizing, etc.</li>
<li>Wear masks in public places if airborne transmission is a risk.</li>
<li> Keep basic medicines and health kits at home.</li>
</ul>

 
<hr>

<h2 class="text-align"> 2. Natural Disaters</h2>
 <br>
<h3 class="text-light">Geological Disasters</h3> 
<ul class="text-light">
    These originate from movements or changes within the Earth.
    <li>Earthquakes – Sudden shaking of the ground due to tectonic activity.</li>
<li> Volcanic Eruptions – Explosive release of lava, ash, and gases from volcanoes.</li>
<li>Landslides – Rapid movement of rock, earth, or debris down a slope.</li>
<li>Avalanches – Sudden downhill flow of snow and ice, often in mountainous regions.</li>
</ul>

<h3 class="text-light">Hydrological Disasters</h3>
 
<ul  class="text-light">
    These are related to water movement and behavior.
    <li> Floods – Overflow of water onto normally dry land.</li>
    <li>Tsunamis – Massive sea waves caused by underwater earthquakes or volcanic </li>
</ul>


 

-
- 




