<%layout("/layouts/boilerplate.ejs")%>

<body>
   <div class="col ">
    <div class="row mb-3 row-cols-lg-1" >
            <div class="card bg-dark mt-3 p-3 shadow" style="width: 22rem; " >
  <div class="card-body">
    <div class="item">
<h2 class="card-title">What is Disaster?</h2>
    <i class="fa-solid fa-circle-info"></i>
    </div>
    
   <hr>
    <a href="/disaster-management" class="card-link">Learn more</a>
   </div>
 
  </div>
  </div>
 
 <div class="row mb-3">
  <a href="/home/live-update" class="text-decoration-none">
  <div class="card bg-dark ml-10 p-3 shadow" style="width: 22rem; " >
  <div class="card-body">
    <div class="item2">
      <!-- <i class="fa-solid fa-bell fa-2x" ></i> -->
       <h1>🆘

</h1>
    <h2 class="card-title">
      Live Updates</h2>

    </div>
   
  
    
    
   </div>
  </div>
  </a>
</div>

 <div class="row">
  <a href="/home/dashboard" class="text-decoration-none">
  <div class="card bg-dark  " style="width: 22rem; height: 4rem; border-radius: 20px; text-align: center; padding-bottom: 1.5px; margin-bottom: 100px;" >
  <div class="card-body">
    <h3 class="card-title">GO TO DASHBOARD</h3>
    
   </div>
  </div>
  </a>
</div>
</div>