body {
  background-image: url("/assets/dark-theme.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  color: white;
}

/* Optional: Make charts responsive and centered */
canvas {
  display: block;
  margin: auto;
  height: auto !important;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}