body {
  background-image: url("/assets/whatsapp-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

/* body::after{
        content:"";
        width: 100%;
        height: 50%;
        position: absolute;
        
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to bottom,transparent ,rgba(0,0,0,1));
    }
     */

    .card{
      color: white;
    }
    .card a{
      color: white;
      text-decoration: none;
    }
    .container{
      display: flex;
 width: 100%;
    }

    /* .container::after{
        content:"";
        width: 100%;
        height: 50%;
        position: absolute;
        
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: linear-gradient(to bottom,transparent ,rgba(0,0,0,1));
    } */
     .col{
      display: flex;
      flex-direction:column ;
      align-items: center;
     
    }
   
    .card-body .item{
      display: flex;
      justify-content: space-around;
      align-items: center;

    }

    .card-body .item2{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
.f-info-sociables i{
    font-size:  1.2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    z-index: 2;
}

